<head>
<script type="text/javascript" src="../../refs/jquery.min.js"></script>
<script type="text/javascript" src="../../refs/jquery-ui-min.js"></script>
<script type="text/javascript" src="../../refs/jsxgraphcore.js"></script>
<script type="text/javascript" src="../../refs/math.min.js"></script>
<script type="text/javascript" src="../../refs/numeric.min.js"></script>
<script type="text/javascript" src="../../refs/bootstrap.min.js"></script>
<script type="text/javascript" src="bsplines.js"></script>
<link rel="stylesheet" type="text/css" href="../../refs/jsxgraph.css">
<link rel="stylesheet" type="text/css" href="../../refs/bootstrap.min.css">
</head>
<body>
<div class='container'>
  <div class='row'>
    <div class='col-md-8 col-md-offset-2'>
      <form>
        <input type='button' value='Add segment' onclick='addSegment()'>
        <input type='button' value='Remove last segment' onclick='removeSegment()'>
      </form>
      <div id='jxgbox' class='jxgbox'>
        <svg style="overflow: hidden; width: 602px; height: 602px;">
        </svg>
      </div>
      </div>
  </div>
</div>
</div>
</body>