<head>
<script type="text/javascript" src="../../refs/jquery.min.js"></script>
<script type="text/javascript" src="../../refs/jquery-ui-min.js"></script>
<script type="text/javascript" src="../../refs/jsxgraphcore.js"></script>
<script type="text/javascript" src="../../refs/math.min.js"></script>
<script type="text/javascript" src="../../refs/numeric.min.js"></script>
<script type="text/javascript" src="../../refs/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="../../refs/jsxgraph.css">
<link rel="stylesheet" type="text/css" href="../../refs/bootstrap.min.css">
</head>
<body>

</body>