<head>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsxgraph/0.99.3/jsxgraphcore.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/2.5.0/math.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/numeric/1.2.6/numeric.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src='https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>
<script type="text/javascript" src="eigendemo.js"></script>
<link rel="stylesheet" type="text/css" href="http://jsxgraph.uni-bayreuth.de/distrib/jsxgraph.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>
<div class='container'>
	<div class='panel panel-default'>
		<div class='panel-body'>
			<div class='col-md-6'>
				<p>Iniital Vector: </p>
				<span id="initVectorA">0</span>
				<span id="initVectorB">1</span>
				<p>Transformation Matrix T</p>
				<input type='number' id='a' value='1' onchange='eigencalculate(); update()'>
				<input type='number' id='b' value='2' onchange='eigencalculate(); update()'><br>
				<input type='number' id='c' value='3' onchange='eigencalculate(); update()'>
				<input type='number' id='d' value='4' onchange='eigencalculate(); update()'><br>
				<p>Transformed Vector</p>
				<span id="transVectorA">0</span>
				<span id="transVectorB">1</span><br>
				<!-- <input type="checkbox" id="cb" onchange="clickme()">Click me! -->
				<p>Eigenvalues</p>
				<span id="lambda"></span>
				<p>Eigenvectors</p>
				<span id="eigenvectors"></span>
				<input type="checkbox" id="sEv" onchange="showEvectors()"> Show eigenvectors
				<input type="checkbox" id="sBv" onchange="showBvectors()"> Show basic vectors
			</div>
			<div class='col-md-6'>
				<div id='box1' class='jxgbox' style="width: 400px; height: 300px; overflow: hidden; position: relative;">
					<svg style="overflow: hidden; width: 402px; height: 402px;">
					</svg>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
